@font-face {
	font-family: bebas;
	src: url(../assets/BebasNeue.ttf)
}
@font-face {
	font-family: beleza;
	src: url(../assets/Belleza.ttf)
}
.font-title {
  font-family: "bebas", sans-serif;
}
.font-text {
  font-family: "beleza", sans-serif;
}
body,
html {
  width: 100vw;
  margin: 0;
 
}

.bg {
  position: relative;
  height: 90vh;
  width: 100vw;
  display: flex;
  background-image: url("../assets/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper-logo-with-text {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: auto;
  margin-top:0;
  flex-direction: column;
  position: absolute;
  text-align: center;
  justify-content: space-around;
}
.logo {
  margin-top: 10vh;
  width: 50%;
  max-width: 1000px;
}
.strong-text {
  color: #afb0af;
  font-size: 1.5rem;
  text-align: center;
  align-self: center;
  margin: 10px;
  padding: 0;
  font-family: "beleza", sans-serif;
}
.scroll-down-button {
  margin-top: 10%;
  align-self: center;
  cursor: pointer;
  transition: filter 300ms linear;
}
.scroll-down-button:hover {
  filter: brightness(0.7);
}
.mb-10 {
  margin-bottom: 20vh;
}
.mt-10 {
  margin-top: 20vh;
}

.navbar {
  position: fixed;
  top: -30vh;
  left: 0;
  height: 100px;
  width: 100vw;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #fff;
  font-family: "bebas", sans-serif;
  box-shadow: 0 0 32px 5px rgba(0, 0, 0, 0.08);
  transition: all 300ms ease-out;
}
.navbar > img {
  margin-left: 10px;
  width: 350px;
}
.navbar > ul {
  margin: 0;
  display: flex;
  list-style-type: none;
  overflow: hidden;
}
.navbar a {
  margin-top: 20px;
  display: block;
  color: #277364;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 1.2rem;
}

li > a:hover {
  color: #277364;
  text-decoration: underline #277364;
}

.outline-button {
  margin:0;
  border: 2px solid #277364;
  border-radius: 15px;
  background-color: transparent;
  color: #277364;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px 32px;
}

.outline-button:hover {
  background-color: #277364;
  color: #fff;
  animation: 1 ease-in-out;
}

.slide-img {
  width: 100vw;
  filter: grayscale(40%) brightness(80%);
}

.slide-outline-button {
  border: 2px solid #fff;
  border-radius: 15px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 12px 36px;
}

.slide-outline-button:hover {
  background-color: #277364;
  color: #fff;
  border: 2px solid transparent;
  animation: 1 ease-in-out;
}

.slide-text {
  font-size: 4vh;
  color: #fff;
  font-family: "bebas", sans-serif;
}

.slide-to {
  position: absolute;
  left: 5%;
  padding-bottom: 5%;
  bottom: 10%;
  text-align: start;
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1vw;
}

.about-items {
  width: 300px;
  height: 60vh;
  border-radius: 20px;
  background-color: #277364;
  margin: 15px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.about-h1 {
  font-size: 22px;
  color: #fff;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 32px;
  font-family: "bebas", sans-serif;
}

.about-h2 {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "beleza", sans-serif;
}


.bg2 {
  width: 100vw;
  position: relative;
}
.bg2-text {
  position: absolute;
  top: 20%;
  left: 5%;
  color: #fff;
  width: 60%;
}
.bg2-text h1 {
  margin: 0;
  padding: 0;
  font-size: 4vw;
}
.bg2-text h2 {
  margin: 0;
  margin-top:-1vw;
  padding: 0;
  font-size: 3.8vw;
}
.bg2-text h3 {
  margin: 0;
  margin-top:-1vw;
  padding: 0;
  font-size: 4.4vw;
}
.bg2-text p {
  font-size: 2vw;
  color: #fff;
  text-align: justify;
  font-family: "beleza", sans-serif;
}

.modal-items-container {
  margin-top:1%;
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 85vh;
  background-color: #277364;
}
.modal-items {
  width: 30%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}
.modal-item {
  flex-direction: row;
  display: flex;
  justify-content: start;
  margin: 5%;
  cursor: pointer;
  transition: filter 300ms linear;
}
.modal-item:hover {
  filter: brightness(0.7);
}
.modal-item img {
  margin: 0;
  width: 5vw;
  margin-top: 1%;
}
.modal-item h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6vw;
  margin-left: 5%;
  align-self: center;
  font-family: "bebas", sans-serif;
}
.modal-header {
  display: flex;
  align-items: center;
}
.modal-title {
  margin-left: 32px;
  font-size: 24px;
  text-transform: uppercase;
  color: #277364;
  font-weight: bold;
}
.modal-body {
  padding: 132px;
}
.modal-body > p {
  font-size: 20px;
  font-weight: bold;
}
.modal-wrapper {
  text-align:center;
}
.modal-wrapper img {
  margin: 1vw;
}

.input-container {
  position: relative;
}
.input-container i {
  position: absolute;
  top: 30%;
  right: 5%;
  color: #9a9a9a;
}
.input-container:focus + span {
  color: #277364 !important;
}
.form-container {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  width: 25%;
  height: 70vh;
}
.form-wrapper {
  position: relative;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}
input {
  border: 2px solid #9e9e9e;
  border-radius: 10px;
  outline: none;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
}
label {
  top: 10px;
  left: 10px;
  right: 0;
  color: #9a9a9a;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  cursor: text;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
}
input,
label {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
}
input:valid,
input:focus {
  border: 2px solid #277364;
}
input:valid + label,
input:focus + label {
  color: #277364;
  font-size: 0.8rem;
  top: -20px;
  pointer-events: none;
}


.bg3 {
  position: relative;
  width: 100vw;
}
.bg3-text {
  position: absolute;
  top: 20%;
  color: #fff;
  width: 50vw;
  left: 50vw;
}
.bg3-text i {
  margin-right: 5%;
  width: 2vw;
  text-align: center;
}
.bg3-text h1 {
  margin: 0;
  padding: 0;
  font-size: 2.2vw;
  text-transform: uppercase;
  font-family: "bebas", sans-serif;
}
.bg3-text h3 {
  margin: 0;
  margin-top: -0.5vw;
  margin-bottom: 0.5vw;
  margin-left: 4.5vw;
  padding: 0;
  font-size: 1vw;
  font-family: "beleza", sans-serif;
}
.bg3-text h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: "beleza", sans-serif;
}
.bg3-text h4 {
  margin-bottom: 2vw;
  padding: 0;
  font-size: 1vw;
  font-weight: bold;
  font-family: "beleza", sans-serif;
}

.social-icons {
  margin-top: 10vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
}
.social-icons img {
  margin-right: 2vw;
  margin-bottom: 5vw;
}
.whatsapp {
  position: fixed;
  bottom: 0;
  left: 95%;
  height: 15vh;
  width: 100vw;
  z-index: 1;
}

.img-min {
  display:none;
}




@media (max-width: 880px) {
  .slide-to img {
    width: 10vh;
  }
  .img-max-off {
    display:none;
  }
  .img-min {
    display:flex;
    max-width: 80px;
  }
}

@media (min-width: 992px) {
  .modal-xl {
    width: 80%;
    max-width: 1200px;
  }
}

